.button {
    background: rgba(56, 88, 255, 0);
    color: white;
    width: 198px;
    height: 56px;
    border: white 1px solid;
    border-radius: 6px;
    text-align: center;
    filter: drop-shadow(0px 0px 44px #CFDAE7);
}

button:disabled {
    background: #BEC5CC;
    filter: none;
}

.button:hover:enabled   {
    cursor: pointer;
    background: #ffffff;
    color: black;
    filter: none;
}

.button_text {
    font-family: 'LabGrotesque', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
    margin: 0 auto;
}



