.popup {
    background: rgba(0, 0, 0, 0.3);
    min-width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: center;
}



.popup_container {
    max-width: 552px;
    max-height: 740px;
    border-radius: 30px;
    background: white;
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    
}

.popup_title {
    margin: 32px 0 0 32px; 
    line-height: 40px;
    font-size: 28px;
    font-weight: 500;
}

.popup_text {
    max-width: 488px;
    margin: 16px auto 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
}



@media screen and (max-width: 780px) {
    .popup_container {
        max-width: 453px;
    }

    .popup_text {
        max-width: 369px;
        margin-left: 32px;
    }
    
}

@media screen and (max-width: 450px) {
    
    

    .popup_container {
        width: 100%;
        border-radius: 0;
        min-height: 100vh;
    }

    .popup_title {
        max-width: 288px;
        margin-left: 16px;
    }

    .popup_text {
        max-width: 288px;
        line-height: 16px;
        font-size: 12px;
        margin: 16px auto 24px;
    }
    
}