.popup {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.popup_container {
    max-width: 552px;
    max-height: 740px;
    border-radius: 30px;
    background: white;
    position: relative;
    align-self: center;
    
}

.popup_title {
    margin: 32px 0 0 32px; 
    line-height: 40px;
    font-size: 28px;
    font-weight: 500;
}

.popup_text {
    max-width: 488px;
    margin: 16px auto 24px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(128, 128, 128, 1);
}

