.popup__button_close {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 27px;
    right: 27px;
}

.close_button {
    background-image: url(../../images/Vectorclose.svg);
    background-repeat: no-repeat;
    background-position: center;
    min-width: 18px;
    min-height: 18px;
    border: none;
    background-color: white;
}

.close_button:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .close_button{
        min-width: 12px;
        min-height: 12px;
        top: 22px;
        right: 22px;
    }
}